.thanks {
  padding: 70px 0 228px 0;
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 102px;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    border: 4px solid #FCB222;
  }
  &__title {
    margin-top: 20px;
    color: #1b1f29;
    font-size: 64px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: normal;
  }
  &__subtitle {
    margin-top: 60px;
    color: #1B1F29;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  &__titleOrder {
    margin-top: 20px;
    color: #1B1F29;
    font-size: 32px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__link {
    text-decoration: none;
  }
  &__btn {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #FCB222;
    border: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      background:  #FCB222;
    }
  }
  &__notification {
    color: rgba(27, 31, 41, 0.31);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .thanks {
    .container {
      width: 960px;
    }
  }
}

@media (max-width: 992px) {
  .thanks {
    .container {
      width: 720px;
    }
  }
}

@media (max-width: 768px) {
  .thanks {
    .container {
      width: 540px;
      padding: 0 10px;
    }
    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 576px) {
  .thanks {
    .container {
      width: 320px;
    }
    &__title {
      font-size: 38px;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__titleOrder {
      font-size: 20px;
    }
  }
}
