.thanks {
  padding: 25px 0;
  .container {
    width: 1116px;
    margin: 0 auto;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 102px;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background-color: #31af91;
  }
  &__title {
    color: #1b1f29;
    font-family: Montserrat;
    font-size: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .firstTitle {
    margin-top: 83px;
  }
  .secondTitle {
    margin-top: 139px;
  }
  &__home {
    display: flex;
    margin-left: 294px;
    margin-top: 152px;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    &__text {
      margin-left: 74px;
      color: #31af91;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
    }
  }

  &__equipment {
    display: flex;
    margin-left: 282px;
    margin-top: 102px;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    &__text {
      margin-left: 66px;
      color: #31af91;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
    }
  }
}

@media (max-width: 1200px) {
  .thanks {
    .container {
      width: 1116px;
    }
  }
}

@media (max-width: 992px) {
  .thanks {
    .container {
      width: 960px;
    }
    &__home {
      display: flex;
      justify-content: center;
      margin-left: 0px;
    }
    &__equipment {
      display: flex;
      justify-content: center;
      margin-left: 0px;
      }
}
}

@media (max-width: 768px) {
  .thanks {
    .container {
      width: 720px;
      padding: 0 10px;
    }
    &__title {
      font-size: 50px;
    }
    &__home {
      &__text {
        font-size: 50px;
      }
    }
    &__equipment {
      &__text {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 576px) {
  .thanks {
    .container {
      width: 540px;
    }
    &__title {
      font-size: 38px;
    }
    &__home {
      &__text {
        font-size: 38px;
      }
      a{
        img {
          width: 45px;
          height: 45px;
        }
      }
    }
    &__equipment {
      &__text {
        font-size: 38px;
      }
      a{
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .thanks {
    .container {
      width: 320px;
    }
    &__title {
      font-size: 20px;
    }
    .secondTitle {
      margin-top: 83px;
    }
    &__home {
      margin-top: 83px;
      &__text {
        font-size: 23px;
        margin-left: 33px;
      }
      a{
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    &__equipment {
      margin-top: 83px;
      margin-left: 30px;
      &__text {
        font-size: 23px;
        margin-left: 33px;
      }
      a{
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}