{
	"editor.formatOnSave": true,
	"tabWidth": 2,
  "useTabs": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "always",
	"semi": true,
	"trailingComma": "all",
	"useTabs": true,
	"quotes": "single"
}
