@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.inputWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}
.filterTitle{
  @include interBold(18px, $second-color);
}
.solarInput{
  margin-right: 20px;
}

@media (max-width: 768px) {
  .filterTitle{
    @include interBold(12px, $second-color);
  }
  .solarPanelInput, .SolarInverterInput{
    @include interRegular(10px, $second-color);
  }
}