.form {
  margin-top: 50px;
  padding: 0 0 30px 0;
  .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__title {
    color: #1b1f29;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__wrapper {
    margin-top: 21px;
    &__input {
      width: 100%;
      height: 40px;
      padding: 0 30px 0 30px;
      border-radius: 15px;
      border: 2px solid #1b1f29 !important;
      color: #1b1f29;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    select {
      width: 100%;
      height: 40px;
      border-radius: 15px;
      border: 2px solid #1b1f29;
      color: #1b1f29;
      padding: 0 30px 0 30px;
    }
  }
  textarea {
    margin-top: 21px;
    height: 144px;
    width: 100%;
    padding: 10px 30px 0 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    resize: none;
    border-radius: 15px;
    border: 2px solid #1b1f29;
  }
  &__button {
    margin-top: 22px;
    margin-left: auto;
    display: flex;
    width: 142px;
    height: 40px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: #fcb222;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      background: #fcb222;
    }
  }
}

.error {
  height: 10px;
  p {
    color: red;
    font-size: 14px;
    &:before {
      display: inline;
      content: '⚠ ';
    }
  }
}

.MuiTelInput {
  width: 100%;
  height: 50px;
  padding: 0;
  color: #1b1f29;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &-Menu {
    margin-left: 20px !important;
  }
  p {
    height: 10px;
    color: red;
    font-size: 14px;
    &:before {
      display: inline;
      content: '⚠ ';
    }
  }
  input {
    font-size: 14px;
    padding: 0;
    height: 40px;
  }
  fieldset {
    border-radius: 15px;
    border: 2px solid #1b1f29;
  }
}

@media (max-width: 1200px) {
  .form {
    .container {
      width: 960px;
    }
  }
}

@media (max-width: 992px) {
  .form {
    .container {
      width: 720px;
    }
  }
}

@media (max-width: 768px) {
  .form {
    .container {
      width: 540px;
    }
  }
}

@media (max-width: 576px) {
  .form {
    .container {
      width: 300px;
      padding: 0;
    }
    &__title {
      font-size: 14px;
    }

    textarea {
      height: 100px;
    }
  }
}
