.form {
  margin-top: 130px;
  .container {
    width: 1110px;
    margin: 0 auto;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0 0 0 30px;
    color: var(--base, #1B1F29);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: small-caps;
  }
  &__user {
    width: 411px;
    &-info {
      display: flex;
      align-items: center;
    }
    &-inputs {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      &-wrapper {
        margin-bottom: 28px;
      }
    }
    &-input {
      width: 406px;
      height: 54px;
      //margin-bottom: 28px;
      padding: 0 20px 0 50px;
      border-radius: 5px;
      border: 2px solid #1B1F29;

      color: #1B1F29;

      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  &__price {
    width: 470px ;
    &-inputs {
      margin-top: 38px;
      &-wrapper {
        margin-bottom: 28px;
      }
    }
    &-input {
      width: 470px;
      height: 54px;
      padding: 0 20px 0 50px;
      border-radius: 5px;
      border: 2px solid #1B1F29;

      color: #1B1F29;

      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    textarea {
      height: 208px;
      width: 470px;
      padding: 10px 20px 0 50px;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      resize: none;
      border-radius: 5px;
      border: 2px solid #1B1F29;
    }
  }
}

.error {
  height: 10px;
  p {
    color: red;
    font-size: 14px;
    &:before {
      display: inline;
      content: "⚠ ";
    }
  }
}



