@import '../../../../styles/mixins';
@import '../../../../styles/variables';
.searchWrapper {
  position: relative;
}
.searchInput {
  padding-left: 40px;
  @include interRegular(14px, $second-color);
  opacity: 0.4;
  font-size: 24px;
  width: 100%;
  outline: none;
  border: 1px solid $second-color;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.searchImage {
  position: absolute;
  top: 15px;
  right: 40px;
}
