.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #fff;
	width: 100%;
}
.container {
	width: 1140px;
	min-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
