.order {
  h2 {
    margin-top: 50px;
    margin-left: 20px;
    color: #1b1f29;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  &__grid {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 160px;
    grid-auto-rows: 160px;
    gap: 20px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #1b1f29;
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
      height: 120px;
      width: 351px;
    }
  }
  &__image {
    width: 88px;
    height: 120px;
    margin-left: 20px;
    &__img {
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    color: #1b1f29;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__price {
    color: var(--base, #1b1f29);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__quantity {
    &__number {
      display: inline-block;
      color: #1b1f29;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0 14px;
    }
    &__arrow {
      display: inline-block;
      &__img {
        width: 100%;
        height: 100%;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__basket {
    width: 20px;
    height: 22px;
    margin-right: 20px;
    &__img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .order {
    .container {
      width: 960px;
    }
    &__wrapper {
      &__info {
        width: 277px;
      }
    }
  }
}

@media (max-width: 992px) {
  .order {
    .container {
      width: 720px;
    }
    &__grid {
      grid-template-columns: 1fr;
    }
    &__wrapper {
      &__info {
        width: 500px;
      }
    }
  }
}

@media (max-width: 768px) {
  .order {
    .container {
      width: 540px;
    }
    &__wrapper {
      &__info {
        width: 351px;
      }
    }
  }
}

@media (max-width: 576px) {
  .order {
    h2 {
      font-size: 14px;
      margin-left: 0;
    }
    .container {
      width: 320px;
      padding: 0 10px;
    }
    &__grid {
      padding: 0;
      grid-template-rows: 100px;
      grid-auto-rows: 100px;
    }
    &__wrapper {
      &__info {
        width: 160px;
        height: 71px;
      }
    }
    &__image {
      width: 60px;
      height: 79px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__name {
      font-size: 12px;
    }
    &__price {
      font-size: 12px;
    }
    &__basket {
      width: 14px;
      height: 15.5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
