:root {
  --max-width: 1140px;
  --base-font-size: 16px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  //Color variebles
  --light: white;
  --dark: #1b1f29;
  --gold: #fcb222;
  --gold-hover: #ffba30;
  --gold-active: #ffc95e;
  //Border variebles
  --radius-normal: 15px;
  --border-normal: 1px solid var(--dark);

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  html {
    font-size: var(--base-font-size);
  }

  body {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.125rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.125rem;
    font-weight: 400;
  }
  p {
    font-size: 1.125rem;
    font-weight: 300;
  }

  input {
  }
  button {
    font-size: 0.75rem;
    font-weight: bold;
    font-family: inherit;
    background-color: var(--gold);
    border: none;
    border-radius: var(--radius-normal);
    padding: 10px 20px;
    min-width: 140px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 14px;
    &:hover {
      background-color: var(--gold-hover);
    }
    &:active {
      background-color: var(--gold-active);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
