@import '@/styles/mixins';
@import '@/styles/variables';

.wrapper {
	width: 100%;
	background: $main-color;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.headerImage {
	background: url('/image/solarpanel.jpg');
	color: $main-color;
	width: 1140px;
	height: 122px;
	display: flex;
	align-items: center;
	background-size: cover;
	margin-bottom: 40px;
	.title {
		padding-left: 70px;
	}
}
.mainWrapper {
	display: flex;
	justify-content: space-between;
	width: 1140px;
}
.buttonBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.sortBy {
	display: flex;
	align-items: center;
	span {
		margin-right: 10px;
	}
}
.products {
	width: 70%;
	display: flex;
	flex-direction: column;
}
.searchWrapper {
	position: relative;
	width: 100%;
	border: 1px solid $second-color;
	border-radius: 15px;
	margin-bottom: 20px;
}
.searchInput {
	@include interRegular(14px, $second-color);
	padding-left: 40px;
	opacity: 0.6;
	width: 100%;
	outline: none;
	height: 50px;
	border: none;
}
.searchImage {
	position: absolute;
	top: 15px;
	right: 40px;
}
.cards {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	gap: 6px 0;
	flex-wrap: wrap;
}

@media (max-width: 1140px) {
	.mainWrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 927px) {
	.mainWrapper {
		display: flex;
		width: 100%;
		min-width: 100%;
		justify-content: space-between;
	}
	.products {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 70%;
		min-width: 70%;
		margin: 0 auto;
		position: relative;
	}
	.cards {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.close {
		display: block;
	}
}

@media (max-width: 768px) {
	.headerImage {
		width: 100%;

		.title {
			padding-left: 50px;
			@include interRegular(24px, $main-color);
		}
	}
	.products {
		width: 100%;
	}
	.searchWrapper {
		width: 90%;
	}
	.searchInput {
		height: 30px;
		display: flex;
	}
	.searchImage {
		top: 7px;
		right: 40px;
	}
	.buttonBlock {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-around;
		padding: 10px 0;
	}
	.sortBy {
		flex-direction: column;
		span {
			display: none;
		}
	}
}
