@import "../../../app/styles/mixins.scss";
@import "../../../app/styles/colors.scss";
.container {
  width: 70px;
  height: 16px;
  // gap 0, display flex, flex-direction row
  @include row-flex;

  //align-items и justify-content
  @include flex-position;

  //цвет svg с hover и active
  @include dynamic-color-svg();

  .input {
    text-align: center;
    max-width: 20px;
  }
  svg {
    cursor: pointer;
  }
}
.btn {
  border: none;
  background-color: transparent;
}
