@import '../../app/styles/_colors.scss';
.selectInput {
  &__control {
    margin-top: 6px;
    min-height: 60px !important;
    border-radius: 15px !important;
    border: 1px solid #1b1f29 !important;
    &:focus {
      box-shadow: $gold-hover !important;
      border-color: $gold-hover !important;
    }
    &:hover {
      box-shadow: $gold-hover !important;
      border-color: $gold-hover !important;
    }
  }
  &__value-container {
    height: 35px !important;
  }
  &__multi-value {
    overflow: initial !important;
    margin-left: 14px !important;
    width: auto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    background-color: initial !important;
    border-radius: 15px !important;
    border: 1px solid #1b1f29 !important;
  }
}

@media (max-width: 576px) {
  .selectInput {
    &__control {
      min-height: 60px !important;
    }
    &__value-container {
      min-height: 30px !important;
      align-content: center !important;
      overflow: initial !important;
    }
    &__multi-value {
      font-size: 10px !important;
    }
  }
}
