.Container {
  display: flex;
  align-items: center;
  width: 400px;
  border-radius: var(--radius-normal);
  border: var(--border-normal);
  font-size: 0.75rem;
  font-weight: bold;
}
.Login {
  width: 50%;
}
.Reg {
  display: flex;
  width: 50%;
  justify-content: center;
}
